._button_c3j65_6 {
    margin-top: 24px;
    width: 100%
}

._buttonSecondary_c3j65_10 {
    margin-top: 12px
}

._content_c3j65_14 {
    padding-top: 32px
}

@media only screen and (min-width: 640px) {
    ._content_c3j65_14 {
        padding: 32px 64px
    }
}

._filledCheckIcon_c3j65_23 {
    color: #32d989;
    display: inline-block;
    font-size: 36px;
    line-height: 36px;
    margin-right: 12px;
    vertical-align: bottom
}

._form_c3j65_32 {
    text-align: left
}

._heading_c3j65_36 {
    font-size: 36px;
    line-height: 1;
    margin: 0
}

._imageTopWrapper_c3j65_42 {
    height: auto
}

@media only screen and (min-width: 640px) {
    ._imageTopWrapper_c3j65_42 {
        height: 260px
    }
    ._imageTopWrapper_c3j65_42 img {
        object-position: center 84%
    }
}

._mainContent_c3j65_54 {
    margin: 0 auto;
    max-width: 432px;
    text-align: left;
    width: 100%
}

._modal_c3j65_61 {
    max-width: 560px
}

._p_c3j65_65 {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    margin: 16px 0 0
}

._phoneNumberDisclaimer_c3j65_72 {
    font-size: 12px;
    letter-spacing: -.02em;
    line-height: 16px;
    margin: 12px 0 0
}

._subheading_c3j65_79 {
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 24px;
    margin-top: 12px
}