._previewContainer_1lw3f_6 {
    position: relative;
    width: 100%
}

._previewVideo_1lw3f_11 {
    height: 100%;
    object-fit: cover;
    width: 100%
}

._inactive_1lw3f_17 {
    filter: brightness(50%)
}

._previewOverlay_1lw3f_21 {
    align-items: center;
    cursor: pointer;
    display: flex;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: center;
    position: absolute
}

._previewOverlayPlaying_1lw3f_29 {
    opacity: 0
}

._previewOverlay_1lw3f_21:focus-visible {
    outline: none
}

._previewOverlay_1lw3f_21:focus-visible .video-controls__play-circle {
    outline: 2px solid #e47e1a;
    outline-offset: 3px
}

._modalVideo_1lw3f_40 {
    cursor: pointer;
    height: 100%;
    width: 100%
}

@media only screen and (orientation: portrait) {
    ._modalVideo_1lw3f_40 {
        height: 98%;
        margin-bottom: auto
    }
}

._container_1lw3f_52 {
    height: 100%;
    margin: 0;
    max-height: 100%;
    max-width: 100%;
    padding: 0;
    width: 100%
}

@media only screen and (min-width: 960px) {
    ._container_1lw3f_52 {
        background-color: rgba(0, 0, 0, 0)
    }
}

@media only screen and (min-width: 960px) {
    ._container_1lw3f_52 {
        border-radius: 16px;
        height: auto;
        width: 85%
    }
}

._buttonClose_1lw3f_73 {
    align-items: center;
    background-color: rgba(30, 31, 33, .8);
    border: 1px solid #e1e5eb;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 36px;
    justify-content: center;
    position: fixed;
    right: 24px;
    top: 24px;
    width: 36px
}

._buttonClose_1lw3f_73:focus-visible {
    outline: 2px solid #e47e1a;
    outline-offset: 3px
}

@media only screen and (min-width: 960px) {
    ._buttonClose_1lw3f_73 {
        background-color: #f9f8f7;
        position: absolute
    }
}

._buttonCloseIcon_1lw3f_98 {
    color: #fff;
    font-size: 20px
}

@media only screen and (min-width: 960px) {
    ._buttonCloseIcon_1lw3f_98 {
        color: #1e1f21
    }
}